@import '../../../../assets/sass/components/variables';

article {
  border: 1px solid lighten($background, 10%);;
  border-radius: 3px;
  background: lighten($background, 5%);
  margin-bottom: 16px;
  padding: 5px 8px;
  box-shadow: 2px 2px 5px $black;

  header h3 {
    margin-top: 8px;
    margin-bottom: 12px;
    font-size: 1.2rem;
  }

  main {
    margin-top: 5px;
    margin-bottom: 16px;
    font-size: 1rem;;
  }

  footer button {
    cursor: pointer;
    display: block;
    background: transparent;
    border: 1px solid $light-blue;
    border-radius: 1px;
    color: $light-blue;
    margin-left: auto;
    padding: 10px 8px;
    outline-color: darken($light-blue, $amount: 10%);
  }
}
