@import '../../../../../assets/sass/components/variables';

.moeda {
  font-size: 3rem;
  display: flex;

  input, input:disabled {
    font-size: 3.2rem;
    font-family: $font-stack;
    width: 100%;
    background: transparent;
    color: $white;
    text-align: center !important;
    border: none;
    outline: none;

    @media #{$medium-and-up} {
      &.alinhar-direita {
        text-align: right !important;
      }
      &.alinhar-esquerda {
        text-align: left !important;
      }
    }

  }
}
