@import '../../../../../assets/sass/components/variables';

section {
  position: relative;
  height: calc(100vh - #{$nav-height});
  width: 100%;
  margin: 0 auto;
  color: $white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    max-width: 70px;
    margin-bottom: 3rem;

    @media #{$medium-and-up} {
      max-width: 100px;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      padding: 0 10px;
      margin: 10px 0;
    }

    @media #{$medium-and-up} {
      flex-direction: row;
    }
  }

  @media #{$medium-and-up} {
    width: 90%;
  }

  @media #{$large-and-up} {
    width: 80%;
  }
}
